<%- include("partials/header"); -%>
    <div class="container-fluid">
        <h1>
            <%= post.title%>
        </h1>
        <p>
            <%=post.body %>
        </p>

    </div>
    <%- include("partials/footer"); -%>